*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: all;
  -ms-user-select: all;
  -moz-user-select: all;
  user-select: none ;
}
body{
  background: rgb(69,51,21);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h2{
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.language-list{
  width: 320px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}
.language-list ul{
  list-style: none;
}
.language-list li{
  padding-bottom: 12px;
}
.language-list a{
  text-decoration: none;
  color: #0a82ff;
}
b{
  width: 300px;
  color: red;
  text-shadow: 0 0 10px black;
}